.btn-home{
    width: 180px;
    border: none;
    background-color: #003049;
    color: #ffffff;
    height: 60px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 8px;
    border: solid 2px #000000;
}

.btn-home:hover {
    background-color: #0081C4;
    color: #ffffff;
}
