.container-header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFFFD;
    position: static;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
    padding: 18px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container-btns-header {
    display: flex;
    gap: 8px;
}

.container-texto-sobre {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: large;
    width: 70%;
}