.container-header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFFFD;
    position: static;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
    padding: 18px;
}

.container-logo-nome {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.style-img {
    height: 45px;
    width: 45px;
}

.nome-projeto {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: rgb(79, 78, 78);
}

.container-btns-header {
    display: flex;
    gap: 8px;
}

.style-btns {
    height: 40px;
    /* width: auto; */
    cursor: pointer;
    font-size: 17px;
}

.btn-login-style {
    padding: 8px 14px 8px 14px;
    background-color: #FAFFFD;
    border: solid 2px #1D3557;
}

.btn-login-style:hover {
    background-color: #1D3557;
    color: #FAFFFD;
}

.btn-new-user-style {
    background-color: #FAFFFD;
    width: 190px;
    border: none;
    background-color: #3a86ff;
    color: #FAFFFD;
}

.btn-new-user-style:hover {
    
}

.btn-new-user-style:hover {
    border: solid 3px #0077b6;
}

.container-texto-sobre {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: large;
    width: 70%;
}