h2 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: #0077b6;
}

p {
    font-family: Arial, sans-serif;
    font-size: 30px;
}

span {
    color: #0077b6;
}

.container-body {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
    min-height: calc(100vh - 102px);
    background-color: #fcfcfc;
    gap: 48px;
}

.img-style {
    height: 300px;
    width: 400px;
    border-radius: 8px;
}

.titulo-texto-imagem {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.container-texto-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-Estoque{
    width: 700px;
}